<html>

<head>
    <title>@ViewData["Title"]</title>
</head>

<body>
    <header>Qui ci sarà l'header</header>
    @RenderBody()
    <footer>Qui ci sarà il footer</footer>
    @RenderSection("Scripts", required: false)
</body>

</html>
