@{
    ViewData["Title"] = "Home Page";
}

<div style="text-align:center;">
    <h1>Welcome</h1>
    <a href="/Users">Go to Users</a>
</div>

@section Scripts {
    <script>alert("Sono l'homepage'!");</script>
}
