@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Welcome</h1>
    <p><a href="/Users">Go to Users with href</a></p>
    <p><a asp-controller="Users">Go to Users with tag helper</a></p>
</div>

@section Scripts {
    <script>//alert("Sono l'homepage'!");</script>
}
